### rewrites every PUT request to an index.php query. GET Requests to directories are also passed on.
### Also hides config and index.php

RewriteEngine on
# 404 if user tries to access index.php directly
RewriteRule ^/?index\.php(|/.*)$ - [R=404,L]
# Hide config
RewriteRule ^/?repo\.json(|/.*)$ - [R=404,L]
# set auth as an env in localhost envs
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
# Activate the file viewer only if a directory is requested
RewriteCond %{REQUEST_FILENAME} -d [OR]
# Always forward PUT requests
RewriteCond %{REQUEST_METHOD} (PUT) [NC]
RewriteRule ^(.*)$ index.php?path=$1 [NC,END]