### rewrites every PUT request to an index.php query. GET Requests to directories are also passed on.
### Also gives the illusion of no index.php file being used

RewriteEngine on
# 404 if user tries to access index.php directly
RewriteCond %{REQUEST_FILENAME} ^/?index\.php(|/.*)$
RewriteRule (.*)$ - [R=404,L]
# Activate the file viewer only if a directory is requested
RewriteCond %{REQUEST_FILENAME} -d [OR]
# Always forward PUT requests
RewriteCond %{REQUEST_METHOD} (PUT) [NC]
RewriteRule ^(.*)$ index.php?path=$1 [NC,L,QSA]